<%- include("adminheader") -%>


    <form action="/registerplayer" method="post">
      <p>First Name: <input class="w3-input w3-border w3-light-grey" type="text" name="firstName" maxlength="13" size="13" /></p>
      <p>Last Name: <input class="w3-input w3-border w3-light-grey" type="text" name="lastName" maxlength="30" size="30" /></p>
      <p>Team: <select class="w3-select w3-border" name="teamName">
        <% for(var i=0; i<teams.length; i++) { %>}
        <option value="<%= teams[i] %>"><%= teams[i] %></option>
        <% } %> 
    </select></p>
      <input class="top-margin w3-button w3-black" type="submit" name="submit" value="Add player to team" />
  </form>

  <table class="w3-table-all">
    <th>Registered</th>
    <tr>
      <td><b>First</b></td>
      <td><b>Last</b></td>
      <td><b>Team</b></td>
    </tr>
    <% for(var i=0; i<registered.length; i++) { %>
      <tr>
        <td><%= registered[i].firstName %></td>
        <td><%= registered[i].lastName %></td>
        <td><%= registered[i].teamName %></td>
      </tr>
    <% } %>
  </table>

    <script>
        function myFunction() {
          var x = document.getElementById("nav");
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else { 
            x.className = x.className.replace(" w3-show", "");
          }
        }
    </script>
</body>
</html>